<div class="text-wrap text-justify h-full" [ngStyle]="{'font-size.px': tamanhoFonte}">
    <p class="bg-red-600">
        Lorem ipsum dolor sit 
        amet consectetur 
        adipisicing elit. 
        Odio blanditiis nisi 
        error ratione molestiae 
        modi hic laboriosam nesciunt 
        architecto porro non, 
        similique ipsa dignissimos 
        perferendis eum quo expedita 
        maiores est.
    </p>
    
    <p class="bg-red-600">
        Lorem ipsum dolor sit 
        amet consectetur 
        adipisicing elit. 
        Odio blanditiis nisi 
        error ratione molestiae 
        modi hic laboriosam nesciunt 
        architecto porro non, 
        similique ipsa dignissimos 
        perferendis eum quo expedita 
        maiores est.
    </p>
    
</div>